<!DOCTYPE html>
<html>
<head>
	
	<title>Canada - Leaflet</title>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
	<script   src="https://code.jquery.com/jquery-3.5.0.js"   integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="   crossorigin="anonymous"></script>

	<style>
		html, body {
			height: 100%;
			margin: 0;
		}
		#map {
			width: 100%;
			height: 96%;
		}
		.info { 
			padding: 6px 8px; 
			font: 14px/16px Arial, Helvetica, sans-serif; 
			background: white; 
			background: rgba(255,255,255,0.8); 
			box-shadow: 0 0 15px rgba(0,0,0,0.2); 
			border-radius: 5px; 
		} 
		.info h4 { margin: 0 0 5px; color: #777; }
		.legend {
			 text-align: left;
			 line-height: 18px; color: #555; 
		} 
		.legend i { 
			width: 18px; 
			height: 18px; 
			float: left; 
			margin-right: 8px; 
			opacity: 0.7; 
		}
		</style>

</head>
<body>
Health Regions: 
<select id='prov'>
	<option value='00'>Canada</option>
	<option value='10'>Newfoundland & Labrador</option>
	<option value='12'>Nova Scotia</option>
	<option value='11'>P.E.I.</option>
	<option value='13'>New Brunswick</option>
	<option value='24'>Quebec</option>
	<option value='35'>Ontario</option>
	<option value='46'>Manitoba</option>
	<option value='47'>Saskatchewan</option>
	<option value='48'>Alberta</option>
	<option value='59'>British columbia</option>
	<option value='60'>Yukon</option>
	<option value='61'>Northwest Territories</option>
	<option value='62'>Nunavut</option>
</select>

<br/>

<input type="radio" id="radio_cases" name="source" value="cases" checked>
<label for="radio_cases">Cumulative Cases</label><br>
<input type="radio" id="radio_deaths" name="source" value="deaths" checked>
<label for="radio_deaths">Cumulative Deaths</label><br>

<!-- <input type="radio" id="radio_da" name="source" value="DA_V.json">
<label for="radio_da">Dissemination Areas</label><br> -->


<div id='map'></div>

<script type="text/javascript">

	var geojson = undefined;
	var colours = ['#FFEDA0', '#FED976', '#FEB24C', '#FD8D3C', '#FC4E2A', '#E31A1C', '#BD0026', '#800026'];
	var grades  = [0, 10, 20, 50, 100, 200, 500, 1000]; 

	var map     = L.map('map').setView([67.8, -100], 3);
	var legend  = undefined;

	map.attributionControl.addAttribution('Health Regions &copy; <a href="http://census.gov/">Statistics Canada</a>');

	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYXNvbGlzbSIsImEiOiJjazllYWR2d2swMDhhM2dvMTR1aGF5dWFkIn0._hDyAxpqk17DWHV5wl9iLQ', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
					 '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
					 'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/light-v9',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(map);




	function display_layer(event) {
		var value  = $('#prov').val();
		var name   = $('#prov option:selected').text();
		var source = $("input:radio[name ='source']:checked").val();

		var url  = `{{base_url}}`;
		
		var options = {
			"_shape":"array",
			"_json" :"geometry",
			"_size" : "max"
		}

		if (value != "00"){
			options['PRUID'] = value;
		}
		
		$.get(url, options, function(json){
			console.log(json);
           
			if (geojson)
				geojson.clearLayers();
			
			var data = {
				"type": "FeatureCollection",
				"crs" : { 
					"type"		: name,
					"properties": { 
						"name": "urn:ogc:def:crs:OGC:1.3:CRS84" 
					} 
				},
				"features": json.map(function(elem) {
					geometry = elem.geometry;
					delete elem.geometry;
					return { 
						"type" 		: "Feature", 
						"properties": elem, 
						"geometry"  : geometry
					}; 

				}) 
			};
			
			geojson = L.geoJson( data, {
				style: styled_data(source),
				onEachFeature: onEachFeature
			}).addTo(map);

			map.fitBounds(geojson.getBounds());

			if (source == 'cases')
				grades  = [0, 10, 20, 50, 100, 200, 500, 1000]; 
			else 
				grades  = [0, 50, 100, 150, 250, 400, 500, 600]; 
			
			create_legend();
			

		});
	}


	
	
	// control that shows state info on hover
	var info = L.control();

	info.onAdd = function (map) {
		this._div = L.DomUtil.create('div', 'info');
		this.update();
		return this._div;
	};
	info.update = function (props) {

		this._div.innerHTML = (props ? 
								`<h4>Canada Health Region (${props.HR_UID}) </h4>` +  
								`<b> ${props.ENGNAME} </b><br/>` + 
								`<spam> Cases: <b>${props.cases}</b>, Deaths: <b>${props.deaths}</b> </spam><br/>` +
								`<small> Updated: ${props.updated} </small>`
								:
								'Hover over a Health Region'
							  );
		
		
	};
	info.addTo(map);


	// get color depending on population density value
	function getColor(d) {
		for (var i = grades.length - 1; i >= 0; i--){
			if (d > grades[i])
				return colours[i];
		}
		return colours[0];
	}

	function styled_data(source){
		
		function style(feature) {
		 	return {
				weight: 2,
				opacity: 1,
				color: 'white',
				dashArray: '3',
				fillOpacity: 0.7,
				fillColor: getColor(feature.properties[source])
			};
		}
		return style; 
	}

	function highlightFeature(e) {
		var layer = e.target;

		layer.setStyle({
			weight: 5,
			color: '#666',
			dashArray: '',
			fillOpacity: 0.7
		});

		if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
			layer.bringToFront();
		}

		info.update(layer.feature.properties);
	}

	function resetHighlight(e) {
		geojson.resetStyle(e.target);
		info.update();
	}

	function zoomToFeature(e) {
		map.fitBounds(e.target.getBounds());
	}

	function onEachFeature(feature, layer) {
		layer.on({
			mouseover: highlightFeature,
			mouseout: resetHighlight,
			click: zoomToFeature
		});
	}

	function create_legend() {

		if (legend !== undefined)
			map.removeControl(legend);
		
		legend = L.control({position: 'bottomright'});

		legend.onAdd = function (map) {
			var div = L.DomUtil.create('div', 'info legend'),
				//grades = [0, 10, 20, 50, 100, 200, 500, 1000],
				labels = [],
				from, to;

			for (var i = 0; i < grades.length; i++) {
				from = grades[i];
				to = grades[i + 1];

				labels.push(
					'<i style="background:' + getColor(from + 1) + '"></i> ' +
					from + (to ? '&ndash;' + to : '+'));
			}

			div.innerHTML = labels.join('<br>');
			return div;
		};

		legend.addTo(map);
		return legend; 
	}

	
	$('#prov').change(function(event){
		display_layer(event);
	});
	
	$("input:radio[name ='source']").change(function(event){
		display_layer(event);
	});
	
	$('#prov').change();
</script>



</body>
</html>

